*.sqlite
*.sqlite3
*.pyc
*.ipynb

.env
.idea/
.vscode/

node_modules
bower_components
npm-debug.log
sarex/static/*.bundle.js
static/bundle.js
static/bim.bundle.js
static/index.bundle.js
static/node_vendors~bim~index.bundle.js
static/node_vendors~bim.bundle.js
static/node_vendors~index.bundle.js
static/node_vendors~pdfjsWorker.bundle.js
# Package manager files
yarn.lock
package-lock.json
react_client/ffmpeg.exe
env.js

.DS_Store

