{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/app/(.*)$",
		"^@/pages/(.*)$",
		"^@/widgets/(.*)$",
		"^@/modules/(.*)$",
		"^@/features/(.*)$",
		"^@/entities/(.*)$",
		"^@/shared/(.*)$",
		"^../(.*)",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
